@mixin textPink {
	padding: 10px;
	text-decoration: none;
	font-size: 25px;
	color: #d80000;
	text-shadow: 1px 1px 0px #000;
}

@mixin phone {
	@media screen and (max-width: 620px) {
		@content;
	}
}
