@mixin textPink {
    padding: 10px;
    text-decoration: none;
    font-size: 25px;
    color: pink;
    text-shadow: 3px 3px 0px rgb(161, 9, 35);
}

@mixin phone {
    @media screen and (max-width: 620px){
        @content;
    }
}