@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;1,400&display=swap');
@import 'mixins';
html {
    body {
        background-color: rgb(0, 0, 0);
        color: #ffffff;
        font-family: 'Roboto Mono', monospace;
        width: 100%;
        margin: 0px;
    }
}