@import 'mixins';

html {
    #root {
        display: flex;
        flex-direction: column;
        align-items: center;
        #buyText {
            width: 35%;
            @include phone {
                width: 80%;
            }
            p {
                font-size: 120%;
                text-align: justify;
                @include phone {
                    font-size: 100%;
                }
            }
            #price {
                text-align: center;
            }
        }
        #magazineContainer {
            flex-direction: row;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: wrap;
            width: 80%;
            @include phone {
                padding: 20px 0px;
                flex-direction: column;
            }
            
            .magazineWrapper {
                width: 40%;
                position: relative;
                padding: 30px 50px;
                display: flex;
                justify-content: center;
                @include phone {
                    padding: 30px 0px;
                    width: 90%;
                }

                img {
                    z-index: -2;
                    height: 400px;
                    @include phone {
                        height: 300px;
                    }
                }
                .overlay {
                    z-index: 0;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 100%;
                    width: 100%;
                    opacity: 0;
                    transition: .5s ease;
                    background-color: #000000;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 5px;
                }
                
                .magInfo {
                    font-size: 120%;
                    @include textPink;
                }
                
            }
            div:hover {
                .overlay {
                    opacity: .85;
                }
            }
        }
    }
}
 