#container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    #nyhetsbild {
        width: 400px;
    }
    #picturecontainer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 70%;
        img {
            width: 50%;
            height: 500px;
        }
    }
}
